<h1>Welcom#index</h1>
<p>Find me in app/views/welcom/index.html.erb</p>

<%= @homeland %>
<ul>
  <% @countries.each do |country| %>
<li><%= country %></li>
<% end %>
</ul>
<ul>
  <%= @travel_pictures.each do |picture|%>
  <li><%= image_tag picture %></li>
  <% end %>
</ul>

<%= image_tag "costarica.jpeg", alt: "Costa Rica", 
                                 id: "Costa Rica",
                                 class: "Country",
                                 height: 300,
                                 width: 400  %>