
<h1>Welcom#index</h1>
<p>Find me in app/views/welcom/index.html.erb</p>

<%= @homeland %>
<ul>
  <% @countries.each do |country| %>
<li><%= country %></li>
<% end %>
</ul>

  <%= @travel_pictures.each do |picture|%>
  <ul><%= image_tag picture,  height: 300,
                          width: 400,
                          style: 'border-bottom: 30px', 
                          class: "img-responsive" %></ul>
  <% end %>


<h3><%= link_to 'Params', params_path, class: 'navbar-brand' %>